.appOuterContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    position: relative;
}

.appOuterContainer.noScroll {
    overflow: hidden;
    height: 100vh;
}

.appInnerContainer {
    width: 88%;
}

.titleOuterContainer {
    padding-top: 40px;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.titleInnerContainer {
    text-align: center;
}

.joinRoomOuterContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sectionContainer {
    border: 1px dashed var(--foreground);
    border-top: 3px solid var(--foreground);
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
}

.formHeader {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputLabel {
    color: var(--theme-gray);
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 5px;
}

.appOuterContainer input {
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed var(--foreground);
    width: 100%;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.appOuterContainer input:focus {
    border-bottom: 1px solid var(--foreground);
}

.button {
    font-size: 0.75rem;
    border-radius: 0;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    color: var(--foreground);
    background-color: transparent;
    border: 3px solid var(--foreground);
    text-transform: lowercase;
    font-family: inherit;
    border-radius: 10px;
}

.button:active :not(.button:disabled) {
    background-color: var(--foreground);
    color: var(--background)
}

.teamPageHeader {
    padding-top: 20px;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}


.choosePageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.teamName {
    padding-top: 40px;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.memberNames {
    color: var(--theme-gray);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.button.selected {
    background-color: var(--foreground);
    color: var(--background);
}

.button:disabled {
    color: var(--theme-gray);
    border: 3px solid var(--theme-gray);
    cursor: initial;
}

.errorMessage {
    color: var(--theme-red);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.loadingMessage {
    color: var(--theme-gray);
    font-style: italic;
}

.messageContainer {
    margin-top: 50px;
}

.ourConstraintsContainer {
    border: 1px dashed var(--foreground);
    border-top: 3px solid var(--foreground);
    padding: 5px 10px 15px 10px;
    border-radius: 10px;
}

.constraintsHeader {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.constraintDescription {
    font-size: 1rem;
}

.constraintListContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.constraintTitle {
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: lowercase;
}

.placedByContainer {
    margin-top: 4px;
    text-transform: lowercase;
    font-style: italic;
    color: var(--theme-gray);
    font-size: 0.75rem;
}

.itemsContainer {
    border: 1px dashed var(--foreground);
    border-top: 3px solid var(--foreground);
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
}

.usPageContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.noConstraints {
    color: var(--theme-gray);
    font-style: italic;
    font-size: 0.75rem;
}

.itemHeader {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 0.75rem;
}

.itemTitle.foundItem {
    color: var(--theme-gray);
    text-decoration: line-through;
}

.numLeft {
    flex-grow: 1;
    font-style: italic;
    color: var(--theme-gray);
}

.scavengerHuntItemListContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button.toggleButton {
    border-radius: 0;
    border-right: 0;
}

.button.toggleButton:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.button.toggleButton:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-right: 3px solid var(--foreground);
}

.itemTitle {
    font-size: 2rem;
}

.grantsText {
    font-style: italic;
    color: var(--theme-gray);
    font-size: 0.75rem;
    margin-top: 8px;
    margin-bottom: 5px;
}

.grantsConstraintContainer {
    border: 1px solid var(--foreground);
    padding: 7px 10px 10px 10px;
    border-radius: 10px;
    border-left: 3px solid var(--foreground);
}

.scavengerHuntItemContainer {
    border: 1px solid var(--foreground);
    padding: 10px;
    border-radius: 10px;
}

.castConstraintOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background-color: rgba(25, 25, 25, 0.75);
}

.overlayInnerContainer {
    width: 80%;
    background-color: rgba(25, 25, 25, 0.95);
    border: 1px solid var(--foreground);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 80px;
}

.chooseTeamHeader {
    font-size: 2rem;
}

.cancelButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.toInflictText {
    color: var(--theme-gray);
    font-size: 0.75rem;
    font-style: italic;
    margin-bottom: 20px;
}

.teamToInflictListContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.teamInfoName {
    font-size: 1.5rem;
}

.teamInfoMembersContainer, .numConstraintsContainer {
    color: var(--theme-gray);
    font-size: 0.75rem;
}

.teamInfoContainer {
    border: 1px solid var(--foreground);
    padding: 7px 10px 10px 10px;
    border-radius: 10px;
    border-left: 3px solid var(--foreground);
}

.teamChildrenContainer {
    margin-top: 10px;
    margin-bottom: 10px;
}

.inflictedConstraintsListContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 5px;
}

.allTeamsList {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5px;
}

.cantApplyReason {
    font-size: 0.75rem;
    margin-bottom: 10px;
    font-weight: bold;
    color: var(--theme-red);
}

.grayedOut {
    color: var(--theme-gray)
}

.itemText {
    text-decoration-color: var(--theme-blue);
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    -webkit-text-decoration-color: var(--theme-blue);
    -webkit-text-decoration-thickness: 2px;
    -webkit-text-decoration-line: underline;
}

.constraintText {
    text-decoration-color: var(--theme-red);
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    -webkit-text-decoration-color: var(--theme-red);
    -webkit-text-decoration-thickness: 2px;
    -webkit-text-decoration-line: underline;
}

.extraText {
    text-decoration-color: var(--theme-green);
    text-decoration-thickness: 2px;
    text-decoration-line: underline;
    -webkit-text-decoration-color: var(--theme-green);
    -webkit-text-decoration-thickness: 2px;
    -webkit-text-decoration-line: underline;
}