.appOuterContainer {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.appInnerContainer {
    width: 88%;
}

.titleOuterContainer {
    padding-top: 40px;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.titleInnerContainer {
    text-align: center;
}

.joinRoomOuterContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sectionContainer {
    border: 1px dashed var(--foreground);
    border-top: 5px solid var(--foreground);
    padding: 5px 10px 10px 10px;
}

.formHeader {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.inputLabel {
    color: var(--theme-gray);
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 5px;
}

.appOuterContainer input {
    background-color: transparent;
    border: none;
    border-bottom: 1px dashed var(--foreground);
    width: 100%;
    outline: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

.appOuterContainer input:focus {
    border-bottom: 1px solid var(--foreground);
}

.button {
    font-size: inherit;
    border-radius: 0;
    border: none;
    padding: 5px 15px;
    cursor: pointer;
    color: var(--foreground);
    background-color: transparent;
    border: 3px solid var(--foreground);
    text-transform: lowercase;
    font-family: inherit;
}

.teamPageHeader {
    padding-top: 20px;
    font-size: 1.25rem;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.choosePageContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.teamName {
    padding-top: 40px;
    font-size: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.memberNames {
    color: var(--theme-gray);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.button.selected {
    background-color: var(--foreground);
    color: var(--background);
}